body {
    background: #e5e5e5;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    display: flex;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    background: #ffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.aside {
    position: left;
    width: 370px;
    height: 1319px;
    left: 40px;
    top: 40px;
    background: #1e2939;
    color: #ffff;
    font-size: 16px;
}

.leftside {
    position: left;
    width: 210px;
    height: 250px;
    left: 80px;
    top: 615px;
    margin: 20px;
}

.main-description {
    margin: 10px 200px 10px 60px;
    line-height: 25px;
}

.projects {
    margin: 10px 200px 10px 60px;
    line-height: 25px;
}

.experience {
    margin: 10px 200px 10px 60px;
    line-height: 25px;
}

.manager {
    margin: 10px 200px 10px 60px;
    line-height: 25px;
}

.starbucks {
    margin: 10px 200px 10px 60px;
    line-height: 25px;
}

.edukacja {
    margin: 10px 200px 10px 60px;
    line-height: 25px;
}

.tech-list {
    font-size: 12px;
    line-height: 20px;
}

.soft-list {
    font-size: 12px;
    line-height: 20px;
}
