body {
    background: #e5e5e5;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    display: flex;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    background: #ffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-description {
    margin: 20px;
    padding: 20px;
}
